body{
	margin: 0;
	font-family: "Trebushet MS";
	background-color: #f4f4f4;
}

.hero{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	top: 200px;
	opacity: 1;
	transition: .3s;
}

.hero.-invisible{
	opacity: 0;
}

.hero-pic{
	max-width: 100%;
}

.control-panel{
	position: absolute;
	top: 59%;
	left: 32%;
	transform: translate(-50%,);
	background-color: black;
	border-radius: 10px;
	width: 500px;
	min-height: 250px;
	padding:70px;
}
.bubble{
	position: absolute;
	top: 170px;
	left: 300px;
	height: 100px;
	width: 400px;
	background-color: white;
	border-radius: 140px;
	opacity: 0;
	transition: .3s;
	text-align: center;
}

.bubble.-visible{
	opacity: 1;
}

.bubble:before {
	position: absolute;
	display: block;
	content: "";
	background-color: white;
	width: 15px;
	height: 15px;
	bottom: 0;
	left: 0;
}


input, button{
 
	border-radius: 2px;
	padding: 4px;
	outline: none;
	font-size: 14px;
	font-weight: 900;
	border: none;
}

input{

margin: 0 20px 0 20px;
}

button{
	background-color: white;
	color:red;
}

button:hover{
	background-color: #f4f4f4;
}

button:active{
	background-color: red;
}